**Task Description **

You are provided with a raw dataset that contains various data quality problems such as
missing values, duplicates, inconsistent formats, and incorrect data types. Your task is to
clean the dataset using Pandas and prepare it for further analysis.

 **Load the Dataset**

   Import the dataset using Pandas

In [30]:
import pandas as pd
df =pd.read_csv("/content/students_data.csv")

Display the first few rows and understand the structure of the data

In [31]:
df.head()

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD

 **Explore the Data**

  Check the number of rows and columns.

   Inspect column names and data types.

  Generate basic summary statistics.

In [32]:
df.shape

(31, 10)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   student_id     31 non-null     int64
 1   name           31 non-null     object
 2   age            28 non-null     float64
 3   gender         31 non-null     object
 4   grade          31 non-null     object
 5   math_score     13 non-null     float64
 6   english_score  23 non-null     object
 7   science_score  31 non-null     int64
 8   enrolled_date  31 non-null     object
 9   remarks        31 non-null     object
dtypes: float64(2), int64(2), object(6)
memory usage: 2.6+ KB

In [34]:
df.describe()

       student_id        age  math_score  science_score
count   31.000000  28.000000   13.000000      31.000000
mean   114.967742  16.785714   74.000000      79.903226
std      9.038746   0.629941   11.510864      13.095431
min    100.000000  16.000000   64.000000      62.000000
25%    107.500000  16.000000   65.000000      66.500000
50%    115.000000  17.000000   73.000000      83.000000
75%    122.500000  17.000000   75.000000      90.500000
max    129.000000  18.000000  100.000000     100.000000

**Handle Missing Values**

Identify missing or null values in the dataset.
Decide whether to:

  Remove rows/columns with missing values, or
  Fill missing values using appropriate methods (mean, median, mode, or constant
values).


 Justify your choice.

In [35]:
df.isnull().sum()

student_id        0
name              0
age               3
gender            0
grade             0
math_score       18
english_score     8
science_score     0
enrolled_date     0
remarks           0
dtype: int64

In [36]:
# Fill numerical columns with mean
df['age'] = df['age'].fillna(df['age'].mean())

# Fill categorical columns with mode
df['gender'] = df['gender'].fillna(df['gender'].mode()[0])
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16.000000,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.000000,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,16.785714,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.000000,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.000000,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.000000,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17.000000,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.000000,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.000000,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.000000,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17.000000,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.000000,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.000000,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.000000,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.000000,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16.000000,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,16.785714,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.000000,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.000000,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.000000,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.000000,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.000000,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.000000,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17.000000,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.000000,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.000000,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,16.785714,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.000000,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.000000,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.000000,male,11,NaN,64,83,2022/06/11,Average
30,129,Patel R.,17.000000,male,11,NaN,64,83,2022/06/11,Average

Justification

Mean/median maintains numerical distribution.

Mode preserves the most common category.

Prevents unnecessary data loss

 **Remove Duplicate Records**

 Detects duplicate rows in the dataset.
  
 Remove duplicates and explain how many rows were affected.

In [37]:
df.duplicated().sum()

np.int64(1)

In [38]:
initial_rows = df.shape[0]
df = df.drop_duplicates()
final_rows = df.shape[0]

print("Removed rows:", initial_rows - final_rows)

Removed rows: 1

**Fix Data Types**

  Identify columns with incorrect data types (e.g., numbers stored as strings, dates
as text).

   Convert them to appropriate data types.

In [39]:
df.dtypes

student_id         int64
name              object
age              float64
gender            object
grade             object
math_score       float64
english_score     object
science_score      int64
enrolled_date     object
remarks           object
dtype: object

In [40]:
# Convert age to integer
df['age'] = df['age'].astype(int)

# Convert date column with mixed formats, prioritizing day-first interpretation
df['enrolled_date'] = pd.to_datetime(df['enrolled_date'], format='mixed', dayfirst=True)
df

/tmp/ipython-input-3449050.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age'] = df['age'].astype(int)
/tmp/ipython-input-3449050.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['enrolled_date'] = pd.to_datetime(df['enrolled_date'], format='mixed', dayfirst=True)

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16,Male,10th,74.0,95,94,2022-06-10,GOOD
2,102,Chris P.,16,MALE,10,NaN,missing,69,2022-12-06,needs improvement
3,103,jane smith,16,FEMALE,10,NaN,missing,62,2022-06-10,average
4,104,Sara O'Neil,16,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16,Female,10,NaN,NaN,83,2022-12-06,needs improvement
6,106,ali Khan,17,female,11,64.0,NaN,75,2022-12-06,Good
7,107,Sara O'Neil,17,female,12,NaN,63,62,2022-06-11,excellent
8,108,Mike O’Reilly,16,Female,12,80.0,missing,89,2022-12-06,poor
9,109,Robert Brown,17,female,12,NaN,missing,97,2022-06-10,needs improvement
10,110,lucy gray,17,male,11th,65.0,67,100,2022-12-06,excellent
11,111,Simran Singh,16,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17,male,10,NaN,NaN,98,2022-12-06,Average
14,114,Ali Khan,17,male,12,NaN,91,67,2022-06-11,poor
15,115,Lucy gray,16,Female,12,65.0,91,94,2022-12-06,Average
16,116,Chris P.,16,Female,11,NaN,NaN,72,2022-06-11,excellent
17,117,Ali Khan,18,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17,Male,10,100.0,74,62,2022-06-11,average
19,119,Patel R.,17,MALE,11th,73.0,NaN,90,2022-12-06,Good
20,120,Sara O'Neil,17,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18,female,11,66.0,72,94,2022-06-10,Average
22,122,Sara O'Neil,17,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17,Female,11th,NaN,missing,63,2022-12-06,excellent
24,124,John Doe,18,MALE,11th,NaN,NaN,91,2022-12-06,GOOD
25,125,Mike O’Reilly,17,Male,12,94.0,80,63,2022-06-10,Average
26,126,John Doe,16,Male,10th,64.0,missing,67,2022-12-06,good student
27,127,Simran Singh,16,FEMALE,12,NaN,76,80,2022-12-06,poor
28,128,Sara O'Neil,17,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17,male,11,NaN,64,83,2022-06-11,Average

In [41]:
df.loc[:, 'age'] = df['age'].astype(int)

df.loc[:, 'enrolled_date'] = pd.to_datetime(
    df['enrolled_date'],
    format='mixed',
    dayfirst=True
)
df.dtypes

student_id                int64
name                     object
age                       int64
gender                   object
grade                    object
math_score              float64
english_score            object
science_score             int64
enrolled_date    datetime64[ns]
remarks                  object
dtype: object

 **Standardize and Clean Text Data**

Clean text columns by:

 Removing extra spaces

  Converting text to lowercase or uppercase

  Fixing inconsistent category names (e.g., “Male”, “male”, “M”)

In [42]:
df.loc[:, 'gender'] = df['gender'].str.strip()
df.loc[:, 'gender'] = df['gender'].str.lower()
df.loc[:, 'gender'] = df['gender'].replace({
    'm': 'male',
    'f': 'female'
})
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16,male,10th,74.0,95,94,2022-06-10,GOOD
2,102,Chris P.,16,male,10,NaN,missing,69,2022-12-06,needs improvement
3,103,jane smith,16,female,10,NaN,missing,62,2022-06-10,average
4,104,Sara O'Neil,16,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16,female,10,NaN,NaN,83,2022-12-06,needs improvement
6,106,ali Khan,17,female,11,64.0,NaN,75,2022-12-06,Good
7,107,Sara O'Neil,17,female,12,NaN,63,62,2022-06-11,excellent
8,108,Mike O’Reilly,16,female,12,80.0,missing,89,2022-12-06,poor
9,109,Robert Brown,17,female,12,NaN,missing,97,2022-06-10,needs improvement
10,110,lucy gray,17,male,11th,65.0,67,100,2022-12-06,excellent
11,111,Simran Singh,16,female,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17,male,10,NaN,NaN,98,2022-12-06,Average
14,114,Ali Khan,17,male,12,NaN,91,67,2022-06-11,poor
15,115,Lucy gray,16,female,12,65.0,91,94,2022-12-06,Average
16,116,Chris P.,16,female,11,NaN,NaN,72,2022-06-11,excellent
17,117,Ali Khan,18,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17,male,10,100.0,74,62,2022-06-11,average
19,119,Patel R.,17,male,11th,73.0,NaN,90,2022-12-06,Good
20,120,Sara O'Neil,17,male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18,female,11,66.0,72,94,2022-06-10,Average
22,122,Sara O'Neil,17,male,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17,female,11th,NaN,missing,63,2022-12-06,excellent
24,124,John Doe,18,male,11th,NaN,NaN,91,2022-12-06,GOOD
25,125,Mike O’Reilly,17,male,12,94.0,80,63,2022-06-10,Average
26,126,John Doe,16,male,10th,64.0,missing,67,2022-12-06,good student
27,127,Simran Singh,16,female,12,NaN,76,80,2022-12-06,poor
28,128,Sara O'Neil,17,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17,male,11,NaN,64,83,2022-06-11,Average

**Rename Columns**

   Rename columns to be clear, consistent, and Python-friendly (e.g., no spaces,
lowercase).

In [43]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

**Final Clean Dataset**

  Display the cleaned dataset.

  Save the cleaned dataset to a new CSV file.

In [44]:
df.head()

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16,male,10th,74.0,95,94,2022-06-10,GOOD
2,102,Chris P.,16,male,10,NaN,missing,69,2022-12-06,needs improvement
3,103,jane smith,16,female,10,NaN,missing,62,2022-06-10,average
4,104,Sara O'Neil,16,male,11,NaN,96,64,2022-06-10,GOOD

In [45]:
df.to_csv("students_data_cleaned.csv", index=False)

**Conclusion**

Missing values were handled appropriately.

Duplicate records were removed.

Data types were corrected.

Text data was standardized.

Column names were renamed for clarity.

The final dataset is clean, consistent, and analysis-ready.